@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Define CSS variables for common values */
:root {
  --primary-color: #de6b5c76;
  --secondary-color: #000000;
  --padding-small: 5px;
  --padding-medium: 10px;
  --padding-large: 30px;
  --margin-small: 5px;
  --margin-medium: 10px;
  --margin-large: 20px;
  --border-radius-small: 5px;
  --border-radius-medium: 15px;
  --border-radius-large: 25px;
  --background-color: rgba(255, 255, 255, 0.7);
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
  padding: var(--padding-medium);
  color: var(--secondary-color);
  position: relative;
  /* background-image: url("../img/livros.jpg") ; */
  /* background-position: center; */
  /* opacity: 0.5; */
  /*background-size: 10%; */
}

body::before {
  content: "";
  background-image: url("..//img/pexels-steve-johnson-1269968\ \(Médio\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  inset: 0;
  opacity: 0.3;
}

.app {
  isolation: isolate;
  max-width: 600px;
  margin: 0 auto var(--margin-large);
  background: var(--background-color);
  padding: var(--padding-large) var(--padding-large);
  border-radius: var(--border-radius-large);
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  border-radius: 50%;
  opacity: 1;
}

h1 {
  text-align: center;
  margin-bottom: var(--margin-small);
  font-size: 3rem;
  /* background-color: #fff; */
  border-radius: var(--border-radius-medium);
}

h2 {
  margin-top: var(--margin-small);
  margin-left: var(--margin-medium);
}

h4 {
  margin-top: var(--margin-small);
  margin-left: var(--margin-medium);
}

p {
  margin: var(--margin-medium) 0;
  margin-left: var(--margin-medium);
}

input,
select {
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-small);
  margin-bottom: var(--margin-small);
  margin-left: var(--margin-medium);
  border: 2px solid #fefefe;
  border-radius: var(--border-radius-small);
  width: 60%;
}

select {
  cursor: pointer;
}

button {
  background-color: #333;
  color: #ffffff;
  padding: var(--padding-small) var(--padding-medium);
  margin-bottom: var(--margin-large);
  margin-left: var(--margin-medium);
  border-radius: var(--border-radius-small);
  border: none;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

button:hover {
  background-color: #fff;
  color: #333;
  opacity: 0.7;
  transition: 0.6s;
}

button:active {
  box-shadow: #000000, 0 0 10px rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 10px rgb(0, 0, 0);
  opacity: 1;
}

.complete {
  background-color: #5cb85c;
}

.complete:hover {
  background-color: #449d44;
  color: #fff;
}

.remove {
  background-color: #d9534f;
}

.remove:hover {
  background-color: #c9302c;
  color: #fff;
}

.todo-list {
  margin-bottom: var(--margin-large);
  padding-bottom: var(--padding-large);
  padding-top: var(--padding-large);
  border-bottom: 2px solid #555;
  border-top: 2px solid #555;
}

.todo-form {
  padding-bottom: 1.5rem;
  align-items: center;
  justify-content: center;
}

.todo-panel {
  padding: var(--padding-medium);
  margin-bottom: var(--margin-medium);
  margin-left: var(--margin-medium);
  margin-right: var(--margin-medium);
  border-radius: var(--border-radius-small);
  border: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0;
}

.todo {
  padding: var(--padding-medium) var(--padding-large) var(--padding-medium) var(--padding-large);
  margin-bottom: var(--margin-medium);
  margin-left: var(--margin-medium);
  margin-right: var(--margin-medium);
  border-radius: var(--border-radius-small);
  border: 2px solid #fff;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter,
.search,
.todo-form,
.todo-list,
.my-hooks,
.box,
.my-container {
  padding: var(--padding-medium);
  margin-bottom: var(--margin-small);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
  justify-content: space-between;
  align-items: center;
}

.filter-options,
.search-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
}

.filter-options button {
  cursor: pointer;
}

.filter-options div,
.search-options div {
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */
  flex: 1 1 0;
}
