@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* 
https://www.thecodecreative.com/blog/how-to-change-css-bg-image-opacity-without-changing-the-text 
https://coder-coder.com/background-image-opacity/
*/



body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c28d2327;
  padding: 3rem;
  color: #000000;
  position: relative;
  /* background-image: url("../img/livros.jpg") ; */
  /* background-position: center; */
  /* opacity: 0.5; */
  /*background-size: 10%; */
}

body::before {
  content: "";
  background-image: url("../img/livros.jpg") ;
  background-position: center;
  background-size: cover;
  position: absolute;
  inset: 0;
  opacity: .7;
}


.app{
  isolation: isolate;
  max-width: 600px;
  margin: 0 auto 300px;
  background: rgba(255, 255, 255, 0.5);
  padding: 30px 60px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

h1{
  text-align: center;
  margin-bottom: 30px;
  font-size: 3rem;
  /* background-color: #fff; */
  border-radius: 15px;
}

h2{
  margin-bottom: 10px;
}

p{
  margin: 10px 0;
}

input, select{
  box-sizing: border-box;
  align-items: center;
  padding: 5px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 60%;
  
}

select {
  cursor: pointer;
}

button{
  background-color: #333;  
  color: #ffffff;
  padding: 5px 10px;
  margin-bottom: auto;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  opacity: .6;
  transition: .3s;
  margin-right: 0.5em;
}

button:hover{
  background-color: #fff;
  color: #333;
  opacity: .7;
  transition: .6s;
}

button:active{
  box-shadow: #000000, 0 0 10px rgba(0, 0, 0, .4);
  text-shadow: 0 0 10px rgb(0, 0, 0);
  opacity: 1;
}

.complete{
  background-color: #5cb85c;
  
}

.complete:hover{
  background-color: #449d44;
  color: #fff;
}

.remove{
  background-color: #d9534f;
}

.remove:hover{
  background-color: #c9302c;
  color: #fff;
}

.todo-list{
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid #555;
  border-top: 2px solid #555;

}

.todo-form{
  padding-bottom: 1.5rem;
  align-items: center;
  justify-content: center;
}

.todo {
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter, .search, .todo-form, .todo-list {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  justify-content: space-between;
  align-items: center;
}

.filter-options, .search-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
}

.filter-options button, .search-options button {
  cursor: pointer;
  font-size: 1rem;
}

.filter-options div, .search-options div {
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */
  flex: 1 1 0;
}